@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700)
@import animations

$cube-face: 200px
$translate: 173px
$cube-expand: 75px
$scale: 0.5

*
  box-sizing: border-box

html, body
  font-family: Cookie, 'Helvetica Neue', Helvetica, sans-serif
  margin: 0
  padding: 0
  height: 100%

body
  background: #000
  -webkit-animation-name: cromatic
  -webkit-animation-duration: 20s
  -webkit-animation-iteration-count: infinite
  -webkit-animation-timing-function: linear
  overflow: hidden

.description
  padding: 20px
  font-size: 16px
  text-align: left

  h1
    font-size: 24px

#controls
  position: absolute
  top: 10px
  right: 10px
  background: rgba(black, 0.9)
  color: white
  width: 200px
  padding: 10px
  border-radius: 10px
  border: rgba(white, 0.5) 1px solid
  z-index: 9999
  transition: all .2s ease-in

  &.toggled
    left: 10px
    bottom: 10px
    right: auto
    top: auto
    background: rgba(white, 0.9)
    color: #000
    width: 600px
    box-shadow: 5px -5px 5px #333

h1, h2, h3, h4, h5, h6
  font-family: 'Helvetica Neue', Helvetica, sans-serif

h1
  font-size: 3rem
  cursor: pointer

  &.expand
    -webkit-animation-name: expand
    -webkit-animation-duration: 1s
    -webkit-animation-timing-function: ease-out

#container
  position: absolute
  top: 50px
  bottom: 50px
  left: 0
  right: 0
  margin: 0 auto
  max-width: 600px
  text-align: center
  background: white
  box-shadow: 5px 5px 5px rgba(white, 0.4)
  height: 90%

section
  position: absolute
  left: 0
  right: 0
  transition: all .4s ease-out

  &.visible
    visibility: visible
    opacity: 1
    display: block

nav#main-nav
  ul
    li
      display: inline-block
      list-style-type: none
      margin: 3px
      padding: 5px
      background: #eee
      border-radius: 4px
      cursor: pointer
      transition: all .2s ease-in
      text-align: center

      &:hover
        background: green
        color: white

nav#cube-nav
  ul
    li.button
      display: inline-block
      list-style-type: none
      background: #333
      height: 60px
      width: 60px
      margin: 2px
      color: white
      transition: all .2s ease-in
      border-radius: 80px
      line-height: 60px
      box-shadow: 5px 5px 0px #555
      cursor: pointer
      text-align: center
      font-size: 24px

      &:hover
        background: #666
        transform: translate(5%, 0%)

      &.active
        background: green

      .toggled &
        border-radius: 5px
        background: #eee
        color: #000

#stage
  width: 100%
  height: 100%
  -webkit-transition: -webkit-transform 0.5s
  -webkit-transform-style: preserve-3d
  margin: 0 auto
  position: relative
  -webkit-perspective: 800
  -webkit-perspective-origin: 50% 225px

  &:hover div
    color: rgba(white, 0.8)

  div
    color: #000

.shape
  position: absolute
  width: 100%
  height: 100%
  -webkit-transform-style: preserve-3d

  // Cube faces
  div
    position: absolute
    width: $cube-face
    height: $cube-face
    border: 1px solid #ccc
    background: rgba(200, 200, 200, 0.9)
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2)
    text-align: center
    line-height: $cube-face
    font-size: 100px
    border-radius: 10px
    -webkit-transition: -webkit-transform 1s, opacity 1s, color .5s
    -webkit-backface-visibility: hidden

  &.backfaces div
    -webkit-backface-visibility: visible

  .face1
    background: url(http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg)
    background-size: cover
    color: rgba(black, 0.5)
    img
      width: $cube-face
      height: $cube-face
  .face2
    background: rgba(#0f0, 0.8)
  .face3
    background: rgba(#f00, 0.8)
  .face4
    background: rgba(#00f, 0.8)
  .face5
    background: rgba(teal, 0.8)
  .face6
    background: rgba(yellow, 0.8)

.cube
  -webkit-animation: rotate-up-left 10s infinite linear
  //-webkit-animation: rotate-up-left 8s infinite linear



  &.rotate-up
    -webkit-animation-name: rotate-up
    -webkit-animation-timing-function: linear
    -webkit-animation-iteration-count: infinite
    -webkit-animation-duration: 5s
    -webkit-transform-style: preserve-3d
    -webkit-transform-origin: 150px 150px 0

  &.rotate-right
    -webkit-animation-name: rotate-right
    -webkit-animation-timing-function: linear
    -webkit-animation-iteration-count: infinite
    -webkit-animation-duration: 5s
    -webkit-transform-style: preserve-3d
    -webkit-transform-origin: 150px 150px 0

  &.rotate-down
    -webkit-animation-name: rotate-down
    -webkit-animation-timing-function: linear
    -webkit-animation-iteration-count: infinite
    -webkit-animation-duration: 5s
    -webkit-transform-style: preserve-3d
    -webkit-transform-origin: 150px 150px 0

  &.rotate-left
    -webkit-animation-name: rotate-left
    -webkit-animation-timing-function: linear
    -webkit-animation-iteration-count: infinite
    -webkit-animation-duration: 5s
    -webkit-transform-style: preserve-3d
    -webkit-transform-origin: 150px 150px 0

  .face1
    -webkit-transform: translateZ($cube-face / 2)
  .face2
    -webkit-transform: rotateY(90deg) translateZ($cube-face / 2)
  .face3
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ($cube-face / 2)
  .face4
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ($cube-face / 2)
  .face5
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ($cube-face / 2)
  .face6
    -webkit-transform: rotateX(-90deg) translateZ($cube-face / 2)

#stage:hover
  .cube
    .face1
      -webkit-transform: translateZ($cube-face / 2 + $cube-expand)
    .face2
      -webkit-transform: rotateY(90deg) translateZ($cube-face / 2 + $cube-expand)
    .face3
      -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ($cube-face / 2 + $cube-expand)
    .face4
      -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ($cube-face / 2 + $cube-expand)
    .face5
      -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ($cube-face / 2 + $cube-expand)
    .face6
      -webkit-transform: rotateX(-90deg) translateZ($cube-face / 2 + $cube-expand)


.ring
  margin-left: 100px
  margin-top: 100px
  -webkit-animation: rotate-left 8s infinite linear

  .face1
    -webkit-transform: translateZ($translate)
  .face2
    -webkit-transform: rotateY(60deg) translateZ($translate)
  .face3
    -webkit-transform: rotateY(120deg) translateZ($translate)
  .face4
    -webkit-transform: rotateY(180deg) translateZ($translate)
  .face5
    -webkit-transform: rotateY(240deg) translateZ($translate)
  .face6
    -webkit-transform: rotateY(300deg) translateZ($translate)

#stage:hover
  .ring
    .face1
      -webkit-transform: translateZ($translate) scale($scale)
    .face2
      -webkit-transform: rotateY(60deg) translateZ($translate) scale($scale)
    .face3
      -webkit-transform: rotateY(120deg) translateZ($translate) scale($scale)
    .face4
      -webkit-transform: rotateY(180deg) translateZ($translate) scale($scale)
    .face5
      -webkit-transform: rotateY(240deg) translateZ($translate) scale($scale)
    .face6
      -webkit-transform: rotateY(300deg) translateZ($translate) scale($scale)


.velocity-cube
  margin:30% auto
  width:10em
  height:10em
  transform-style:preserve-3d
  transform-origin:50% 50% -5em
  position:relative
  transform:rotateX(-45deg)

.velocity-cube div
  position:absolute
  width:10em
  height:10em
  background-color:#4c4c4c
  transform-style:preserve-3d
  backface-visibility:hidden

.boxCorner2
  transform:rotateX(180deg) translateZ(10em)

.boxCorner1::before, .boxCorner1::after, .boxCorner2::before, .boxCorner2::after
  position: absolute
  content: ''
  display: block
  width: 100%
  height: 100%
  transform-style: preserve-3d

.boxCorner1::before, .boxCorner2::before
  transform: rotateY(90deg)
  transform-origin: 0 50%
  background-color: #444


.boxCorner2::before
  transform-origin: 100% 50%
  transform: rotateY(-90deg)

.boxCorner1::after, .boxCorner2::after
  transform: rotateX(-90deg)
  transform-origin: 50% 0
  background-color: #555

$foreground-color: #b85b3f

//black;
$background-color: #e8e3c7

//white
$shadow-color: #ba9186

//$foreground-color;
$distance: 8px
$cut-distance: 3px

//$distance/4;
$strips-size: 6px

//10px
$strips-ratio: 50%

//70%
$strips-angle: 45deg

//90deg;

//cray stuff yo. be sure to try (if you please)
$animate: true

//true
$fixed: false

#intro
  position: absolute
  top: 100px
  left: 0
  right: 0
  font-family: 'Cookie',cursive
  font-size: 120pt
  background: $background-color
  width: 600px
  height: 200px
  box-shadow: #555 10px 10px 10px
  border-radius: 10px
  -webkit-animation: intro 10s linear
  opacity: 0
  z-index: 9999

.dashed-shadow
  position: relative
  top: $distance
  left: $distance
  display: inline-block
  color: $shadow-color
  border-radius: 10px


@keyframes dash-animation
  0%
    background-position: 0 0
  100%
    background-position: 100% 0


.dashed-shadow:before
  border-radius: 10px
  content: " "
  display: block
  position: absolute
  $bleeding-horizontal: 10px
  $bleeding-vertical: 0px
  top: -$bleeding-vertical - $distance
  left: -$bleeding-vertical - $distance
  bottom: -$bleeding-horizontal + $distance
  right: -$bleeding-horizontal + $distance
  z-index: 1
  $color: $background-color
  $size: $strips-ratio / 2
  $halfSize: $size / 2
  $p1: $halfSize
  $p2: 50% - $halfSize
  $p3: 50% + $halfSize
  $p4: 100% - $halfSize
  $transparent: transparentize($color, 1)
  background-image: linear-gradient($strips-angle, $color $p1, $transparent $p1, $transparent $p2, $color $p2, $color $p3, $transparent $p3, $transparent $p4, $color $p4)
  background-size: $strips-size $strips-size
  @if $animate
    animation: dash-animation 30s infinite linear
  @if $fixed
    background-attachment: fixed

.dashed-shadow:hover:before
  animation: dash-animation 30s infinite linear

.dashed-shadow:after
  border-radius: 10px
  z-index: 2
  content: attr(data-text)
  position: absolute
  left: -$distance
  top: -$distance
  color: $foreground-color
  text-shadow: $cut-distance $cut-distance $background-color


@media screen and (max-width: 1000px)
  body
    -webkit-animation: none
  .cube
    display: none

  #controls
    background: #f66

